/*loading*/
.loading-wrap {
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 60% auto 0;
    position: relative;
}

.loading_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#loading_inner {
    position: relative;
    line-height: 70px;
    font-size: 14px;
    z-index: 10;
    font-family: Arial;
    font-weight: bold;
    color: #444;
}

.loading-container p {
    text-align: center;
    font-size: 14px;
    color: #777;
}

/*public*/
.musicicon {
    position: absolute;
    width: 10%;
    top: 2%;
    right: 4%;
    z-index: 10000;
    opacity: 0.7;
}

.arrow {
    position: absolute;
    bottom: 0.5%;
    left: 46%;
    width: 8%;
    padding-bottom: 8%;
    background: url(../img/arrow.png) top center no-repeat;
    background-size: contain;
}

/*pages*/
.resize-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 177.5%;
}

.page {
    background: url(../img/bg.jpg) top center no-repeat;
    background-size: 100% auto;
}

/* page1 */
.p1_logo {
    width: 31.72%;
    padding-bottom: 32%;
    margin: 17% auto 0;
    background: url(../img/p1_logo.png) top center no-repeat;
    background-size: contain;
}

.p1_t1 {
    width: 48.44%;
    padding-bottom: 25.47%;
    margin: 2% auto 0 21.5%;
    background: url(../img/p1_t1.png) top center no-repeat;
    background-size: contain;
}

.p1_icon1 {
    width: 13.28%;
    padding-bottom: 15.94%;
    margin: -28% auto 0 14%;
    background: url(../img/p1_icon1.png) top center no-repeat;
    background-size: contain;
}

.p1_icon2 {
    width: 19.22%;
    padding-bottom: 19.22%;
    margin: -4.5% auto 0 71%;
    background: url(../img/p1_icon2.png) top center no-repeat;
    background-size: contain;
}

.p1_shadow {
    position: relative;
    width: 74.375%;
    padding-bottom: 74.22%;
    margin: -24.6% auto 0;
    background: url(../img/p1_shadow.png) top center no-repeat;
    background-size: contain;
}

.p1_t2 {
    position: absolute;
    top: 27.4%;
    left: 4.5;
    width: 91.12%;
    padding-bottom: 42.44%;
    background: url(../img/p1_t2.png) top center no-repeat;
    background-size: contain;
}

.p1_superman {
    width: 82.5%;
    padding-bottom: 29.22%;
    margin: -25% auto 0;
    background: url(../img/p1_superman.png) top center no-repeat;
    background-size: contain;
}

/* page2 */
.p2_p_wrap {
    position: relative;
    width: 86.09%;
    padding-bottom: 97.97%;
    margin: 5% auto 0;
}

.p2_p1 {
    background: url(../img/p2_p1.png) top center no-repeat;
    background-size: contain;
}

.p2_p2 {
    background: url(../img/p2_p2.png) top center no-repeat;
    background-size: contain;
}

.p2_p3 {
    background: url(../img/p2_p3.png) top center no-repeat;
    background-size: contain;
}

.p2_p4 {
    background: url(../img/p2_p4.png) top center no-repeat;
    background-size: contain;
}

.p2_p5 {
    background: url(../img/p2_p5.png) top center no-repeat;
    background-size: contain;
}

.p2_p6 {
    background: url(../img/p2_p6.png) top center no-repeat;
    background-size: contain;
}

.p2_p7 {
    background: url(../img/p2_p7.png) top center no-repeat;
    background-size: contain;
}

.p2_p8 {
    background: url(../img/p2_p8.png) top center no-repeat;
    background-size: contain;
}

.p2_p9 {
    background: url(../img/p2_p9.png) top center no-repeat;
    background-size: contain;
}

.p2_p10 {
    background: url(../img/p2_p10.png) top center no-repeat;
    background-size: contain;
}

.p2_p11 {
    background: url(../img/p2_p11.png) top center no-repeat;
    background-size: contain;
}

.p2_p12 {
    background: url(../img/p2_p12.png) top center no-repeat;
    background-size: contain;
}

.p2_p13 {
    background: url(../img/p2_p13.png) top center no-repeat;
    background-size: contain;
}

.p2_p14 {
    background: url(../img/p2_p14.png) top center no-repeat;
    background-size: contain;
}

.p2_p15 {
    background: url(../img/p2_p15.png) top center no-repeat;
    background-size: contain;
}

.p2_p16 {
    background: url(../img/p2_p16.png) top center no-repeat;
    background-size: contain;
}

.p2_p17 {
    background: url(../img/p2_p17.png) top center no-repeat;
    background-size: contain;
}

.p2_p18 {
    background: url(../img/p2_p18.png) top center no-repeat;
    background-size: contain;
}

.p2_t1 {
    width: 13.9%;
    padding-bottom: 10.16%;
    margin: 5% auto 0;
    background: url(../img/p2_t1.png) top center no-repeat;
    background-size: contain;
}

.p2_t1 {
    width: 13.9%;
    padding-bottom: 10.16%;
    margin: 5% auto 0;
    background: url(../img/p2_t1.png) top center no-repeat;
    background-size: contain;
}

.p2_t1 {
    width: 13.9%;
    padding-bottom: 10.16%;
    margin: 5% auto 0;
    background: url(../img/p2_t1.png) top center no-repeat;
    background-size: contain;
}

.p2_t1 {
    width: 13.9%;
    padding-bottom: 10.16%;
    margin: 5% auto 0 19%;
    background: url(../img/p2_t1.png) top center no-repeat;
    background-size: contain;
}

.p2_t2 {
    width: 25.31%;
    padding-bottom: 9.69%;
    margin: -10% auto 0 35%;
    background: url(../img/p2_t2.png) top center no-repeat;
    background-size: contain;
}

.p2_t3 {
    width: 12.97%;
    padding-bottom: 10.31%;
    margin: 5% auto 0 40%;
    background: url(../img/p2_t3.png) top center no-repeat;
    background-size: contain;
}

.p2_t4 {
    width: 23.91%;
    padding-bottom: 10.16%;
    margin: -11% auto 0 54%;
    background: url(../img/p2_t4.png) top center no-repeat;
    background-size: contain;
}

.p2_t5 {
    width: 64.84%;
    padding-bottom: 8.91%;
    margin: 5% auto 0 19%;
    background: url(../img/p2_t5.png) top center no-repeat;
    background-size: contain;
}

.p2_t6 {
    width: 28.28%;
    padding-bottom: 9.69%;
    margin: 3% auto 0 30%;
    background: url(../img/p2_t6.png) top center no-repeat;
    background-size: contain;
}

.p2_t7 {
    width: 20%;
    padding-bottom: 6.875%;
    margin: -8% auto 0 60%;
    background: url(../img/p2_t7.png) top center no-repeat;
    background-size: contain;
}

/* page3 */
.p3_p_wrap {
    width: 100%;
    margin: 10% auto 0;
}

.p3_p1 {
    width: 21.09%;
    padding-bottom: 46.72%;
    margin: 0 auto 0 20%;
    background: url(../img/p3_p1.png) top center no-repeat;
    background-size: contain;
}

.p3_p2 {
    width: 18.91%;
    padding-bottom: 48.91%;
    margin: -46% auto 0 42%;
    background: url(../img/p3_p2.png) top center no-repeat;
    background-size: contain;
}

.p3_p3 {
    width: 29.375%;
    padding-bottom: 46.72%;
    margin: -46% auto 0 60%;
    background: url(../img/p3_p3.png) top center no-repeat;
    background-size: contain;
}

.p3_p4 {
    width: 34.06%;
    padding-bottom: 52.81%;
    margin: -20% auto 0 10%;
    background: url(../img/p3_p4.png) top center no-repeat;
    background-size: contain;
}

.p3_p5 {
    width: 42.19%;
    padding-bottom: 45.47%;
    margin: -52% auto 0 45%;
    background: url(../img/p3_p5.png) top center no-repeat;
    background-size: contain;
}

.p3_p6 {
    width: 46.56%;
    padding-bottom: 51.88%;
    margin: -18% auto 0 22%;
    background: url(../img/p3_p6.png) top center no-repeat;
    background-size: contain;
}

.p3_t1 {
    width: 84.06%;
    padding-bottom: 7.34%;
    margin: 8% auto 0;
    background: url(../img/p3_t1.png) top center no-repeat;
    background-size: contain;
}

.p3_t2 {
    width: 24.38%;
    padding-bottom: 11.09%;
    margin: 4% auto 0 33%;
    background: url(../img/p3_t2.png) top center no-repeat;
    background-size: contain;
}

.p3_t3 {
    width: 7.97%;
    padding-bottom: 8.44%;
    margin: -9.5% auto 0 60%;
    background: url(../img/p3_t3.png) top center no-repeat;
    background-size: contain;
}

/* page4 */
.p4_p_wrap {
    position: relative;
    width: 77.97%;
    padding-bottom: 104.84%;
    margin: 2% auto 0;
}

.p4_p1 {
    background: url(../img/p4_p1.png) top center no-repeat;
    background-size: contain;
}

.p4_p2 {
    background: url(../img/p4_p2.png) top center no-repeat;
    background-size: contain;
}

.p4_p3 {
    background: url(../img/p4_p3.png) top center no-repeat;
    background-size: contain;
}

.p4_p4 {
    background: url(../img/p4_p4.png) top center no-repeat;
    background-size: contain;
}

.p4_p5 {
    background: url(../img/p4_p5.png) top center no-repeat;
    background-size: contain;
}

.p4_p6 {
    background: url(../img/p4_p6.png) top center no-repeat;
    background-size: contain;
}

.p4_p7 {
    background: url(../img/p4_p7.png) top center no-repeat;
    background-size: contain;
}

.p4_p8 {
    background: url(../img/p4_p8.png) top center no-repeat;
    background-size: contain;
}

.p4_p9 {
    background: url(../img/p4_p9.png) top center no-repeat;
    background-size: contain;
}

.p4_p10 {
    background: url(../img/p4_p10.png) top center no-repeat;
    background-size: contain;
}

.p4_p11 {
    background: url(../img/p4_p11.png) top center no-repeat;
    background-size: contain;
}

.p4_p12 {
    background: url(../img/p4_p12.png) top center no-repeat;
    background-size: contain;
}

.p4_t1 {
    width: 60.31%;
    padding-bottom: 7.34%;
    margin: 5% auto 0 14%;
    background: url(../img/p4_t1.png) top center no-repeat;
    background-size: contain;
}

.p4_t2 {
    width: 54.84%;
    padding-bottom: 10.94%;
    margin: 3% auto 0 35%;
    background: url(../img/p4_t2.png) top center no-repeat;
    background-size: contain;
}

.p4_t3 {
    width: 74.06%;
    padding-bottom: 7.34%;
    margin: 5% auto 0 14%;
    background: url(../img/p4_t3.png) top center no-repeat;
    background-size: contain;
}

.p4_t4 {
    width: 28.91%;
    padding-bottom: 10%;
    margin: -8% auto 0 51%;
    background: url(../img/p4_t4.png) top center no-repeat;
    background-size: contain;
}

/* page5 */
.p5_p_wrap {
    position: relative;
    width: 89.53%;
    padding-bottom: 85.16%;
    margin: 10% auto 0;
}

.p5_p1 {
    background: url(../img/p5_p1.png) top center no-repeat;
    background-size: contain;
}

.p5_p2 {
    background: url(../img/p5_p2.png) top center no-repeat;
    background-size: contain;
}

.p5_p3 {
    background: url(../img/p5_p3.png) top center no-repeat;
    background-size: contain;
}

.p5_p4 {
    background: url(../img/p5_p4.png) top center no-repeat;
    background-size: contain;
}

.p5_p5 {
    background: url(../img/p5_p5.png) top center no-repeat;
    background-size: contain;
}

.p5_p6 {
    background: url(../img/p5_p6.png) top center no-repeat;
    background-size: contain;
}

.p5_t1 {
    width: 52.34%;
    padding-bottom: 10.94%;
    margin: 7% auto 0 17%;
    background: url(../img/p5_t1.png) top center no-repeat;
    background-size: contain;
}

.p5_t2 {
    width: 66.09%;
    padding-bottom: 9.84%;
    margin: 5% auto 0 22%;
    background: url(../img/p5_t2.png) top center no-repeat;
    background-size: contain;
}

.p5_t3 {
    width: 29.84%;
    padding-bottom: 9.84%;
    margin: -10% auto 0 50%;
    background: url(../img/p5_t3.png) top center no-repeat;
    background-size: contain;
}

/* page6 */
.p6_p_wrap {
    position: relative;
    width: 85.63%;
    padding-bottom: 93.28%;
    margin: 15% auto 0;
}

.p6_p1 {
    background: url(../img/p6_p1.png) top center no-repeat;
    background-size: contain;
}

.p6_p2 {
    background: url(../img/p6_p2.png) top center no-repeat;
    background-size: contain;
}

.p6_p3 {
    background: url(../img/p6_p3.png) top center no-repeat;
    background-size: contain;
}

.p6_p4 {
    background: url(../img/p6_p4.png) top center no-repeat;
    background-size: contain;
}

.p6_p5 {
    background: url(../img/p6_p5.png) top center no-repeat;
    background-size: contain;
}

.p6_p6 {
    background: url(../img/p6_p6.png) top center no-repeat;
    background-size: contain;
}

.p6_p7 {
    background: url(../img/p6_p7.png) top center no-repeat;
    background-size: contain;
}

.p6_p8 {
    background: url(../img/p6_p8.png) top center no-repeat;
    background-size: contain;
}

.p6_p9 {
    background: url(../img/p6_p9.png) top center no-repeat;
    background-size: contain;
}

.p6_p10 {
    background: url(../img/p6_p10.png) top center no-repeat;
    background-size: contain;
}

.p6_p11 {
    background: url(../img/p6_p11.png) top center no-repeat;
    background-size: contain;
}

.p6_p12 {
    background: url(../img/p6_p12.png) top center no-repeat;
    background-size: contain;
}

.p6_p13 {
    background: url(../img/p6_p13.png) top center no-repeat;
    background-size: contain;
}

.p6_p14 {
    background: url(../img/p6_p14.png) top center no-repeat;
    background-size: contain;
}

.p6_p15 {
    background: url(../img/p6_p15.png) top center no-repeat;
    background-size: contain;
}

.p6_p16 {
    background: url(../img/p6_p16.png) top center no-repeat;
    background-size: contain;
}

.p6_t1 {
    width: 66.56%;
    padding-bottom: 10.63%;
    margin: 10% auto 0 13%;
    background: url(../img/p6_t1.png) top center no-repeat;
    background-size: contain;
}

.p6_t2 {
    width: 54.22%;
    padding-bottom: 23.75%;
    margin: 3% auto 0 21%;
    background: url(../img/p6_t2.png) top center no-repeat;
    background-size: contain;
}

.p6_t3 {
    width: 28.75%;
    padding-bottom: 11.86%;
    margin: -10% auto 0 38%;
    background: url(../img/p6_t3.png) top center no-repeat;
    background-size: contain;
}

/* page7 */
.p7_p_wrap {
    position: relative;
    width: 100%;
    padding-bottom: 117.96%;
    margin: 0 auto;
}

.p7_p_wrap>div {
    position: absolute;
    width: 56.72%;
    padding-bottom: 116.72%;
}

.p7_p_wrap>div:last-child {
    position: absolute;
    width: 52.34%;
    padding-bottom: 120%;
}

.p7_p1 {
    background: url(../img/p7_p3.png) top center no-repeat;
    background-size: contain;
    left: -17%;
    top: -25%;
}

.p7_p2 {
    background: url(../img/p7_p1.png) top center no-repeat;
    background-size: contain;
    left: 32%;
    top: 0%;
}

.p7_p3 {
    background: url(../img/p7_p1.png) top center no-repeat;
    background-size: contain;
    left: 3%;
    top: -8%;
}

.p7_p4 {
    background: url(../img/p7_p4.png) top center no-repeat;
    background-size: contain;
    left: 22%;
    top: -34%;
}

.p7_p5 {
    background: url(../img/p7_p1.png) top center no-repeat;
    background-size: contain;
    left: 75%;
    top: 3%;
}

.p7_p6 {
    background: url(../img/p7_p1.png) top center no-repeat;
    background-size: contain;
    left: 55%;
    top: -30%;
}

.p7_p7 {
    background: url(../img/p7_p2.png) top center no-repeat;
    background-size: contain;
    left: 18%;
    top: -2%;
}

.p7_t1 {
    width: 38.59%;
    padding-bottom: 7.5%;
    margin: 5% auto 0 15%;
    background: url(../img/p7_t1.png) top center no-repeat;
    background-size: contain;
}

.p7_t2 {
    width: 69.22%;
    padding-bottom: 7.66%;
    margin: 5% auto 0 15%;
    background: url(../img/p7_t2.png) top center no-repeat;
    background-size: contain;
}

.p7_t3 {
    width: 27.19%;
    padding-bottom: 9.06%;
    margin: -10% auto 0 48%;
    background: url(../img/p7_t3.png) top center no-repeat;
    background-size: contain;
}

.p7_t4 {
    width: 49.38%;
    padding-bottom: 7.34%;
    margin: 3% auto 0 25%;
    background: url(../img/p7_t4.png) top center no-repeat;
    background-size: contain;
}

.p7_t5 {
    width: 27.66%;
    padding-bottom: 10.47%;
    margin: -10% auto 0 40%;
    background: url(../img/p7_t5.png) top center no-repeat;
    background-size: contain;
}

/* page8 */
.p8_p_wrap {
    position: relative;
    width: 100%;
    padding-bottom: 121.25%;
    margin: 0 auto;
}

.money1 {
    position: absolute;
    left: 12%;
    top: 21%;
    width: 54.06%;
    padding-bottom: 64.84%;
}

.money2 {
    position: absolute;
    left: 30%;
    bottom: 0px;
    width: 64.06%;
    padding-bottom: 64.84%;
}

.p8_p1 {
    background: url(../img/p8_p1.png) top center no-repeat;
    background-size: contain;
}

.p8_p2 {
    background: url(../img/p8_p2.png) top center no-repeat;
    background-size: contain;
}

.p8_p3 {
    background: url(../img/p8_p3.png) top center no-repeat;
    background-size: contain;
}

.p8_p4 {
    background: url(../img/p8_p4.png) top center no-repeat;
    background-size: contain;
}

.p8_p5 {
    background: url(../img/p8_p5.png) top center no-repeat;
    background-size: contain;
}

.p8_p6 {
    background: url(../img/p8_p6.png) top center no-repeat;
    background-size: contain;
}

.p8_t1 {
    width: 58.13%;
    padding-bottom: 7.81%;
    margin: 5% auto 0 13%;
    background: url(../img/p8_t1.png) top center no-repeat;
    background-size: contain;
}

.p8_t2 {
    width: 53.91%;
    padding-bottom: 11.09%;
    margin: 5% auto 0 20%;
    background: url(../img/p8_t2.png) top center no-repeat;
    background-size: contain;
}

.p8_t3 {
    width: 7.19%;
    padding-bottom: 7.03%;
    margin: -10% auto 0 75%;
    background: url(../img/p8_t3.png) top center no-repeat;
    background-size: contain;
}

/* page9 */
.p9_t1 {
    width: 57.81%;
    padding-bottom: 17.03%;
    margin: 12% auto 0 15%;
    background: url(../img/p9_t1.png) top center no-repeat;
    background-size: contain;
}

.p9_t2 {
    width: 26.09%;
    padding-bottom: 9.22%;
    margin: -7% auto 0 38%;
    background: url(../img/p9_t2.png) top center no-repeat;
    background-size: contain;
}

.p9_t3 {
    width: 73.91%;
    padding-bottom: 6.72%;
    margin: 5% auto 0 12%;
    background: url(../img/p9_t3.png) top center no-repeat;
    background-size: contain;
}

.p9_t4 {
    width: 30.47%;
    padding-bottom: 10.31%;
    margin: -9% auto 0 50%;
    background: url(../img/p9_t4.png) top center no-repeat;
    background-size: contain;
}

.p9_p1 {
    width: 95.47%;
    padding-bottom: 120%;
    margin: 20% auto 0 3%;
    background: url(../img/p9_p1.png) top center no-repeat;
    background-size: contain;
}

.p9_p2 {
    width: 26.25%;
    padding-bottom: 68%;
    margin: -135% auto 0 20%;
    background: url(../img/p9_p2.png) top center no-repeat;
    background-size: contain;
}

/* page10 */
.p10_p_wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.p10_p1 {
    width: 29.69%;
    padding-bottom: 59.84%;
    margin: -1% auto 0 25%;
    background: url(../img/p10_p1.png) top center no-repeat;
    background-size: contain;
}

.p10_p2 {
    width: 48.13%;
    padding-bottom: 38.44%;
    margin: -20% auto 0 40%;
    background: url(../img/p10_p2.png) top center no-repeat;
    background-size: contain;
}

.p10_p3 {
    width: 41.72%;
    padding-bottom: 36.41%;
    margin: -20% auto 0 22%;
    background: url(../img/p10_p3.png) top center no-repeat;
    background-size: contain;
}

.p10_p4 {
    width: 54.53%;
    padding-bottom: 58.75%;
    margin: -18% auto 0 28%;
    background: url(../img/p10_p4.png) top center no-repeat;
    background-size: contain;
}

.p10_t1 {
    width: 54.84%;
    padding-bottom: 7.19%;
    margin: 2% auto 0;
    background: url(../img/p10_t1.png) top center no-repeat;
    background-size: contain;
}

.p10_t2 {
    width: 56.56%;
    padding-bottom: 5.78%;
    margin: 2% auto 0 35%;
    background: url(../img/p10_t2.png) top center no-repeat;
    background-size: contain;
}

.p10_t3 {
    width: 28.91%;
    padding-bottom: 12.5%;
    margin: 2% auto 0 42%;
    background: url(../img/p10_t3.png) top center no-repeat;
    background-size: contain;
}

/* page11 */
.p11_p1 {
    width: 66.88%;
    padding-bottom: 90.31%;
    margin: 30% auto 0;
    background: url(../img/p11_p1.png) top center no-repeat;
    background-size: contain;
}

/* temp */
/* .p1{background:url(../img/p1_bg.jpg) top center no-repeat;background-size:100% auto;}

.p1_pic {
    width: 100%;
    padding-bottom: 100%;
    margin: 5% auto 0;
    background: url(../img/music.png) top center no-repeat;
    background-size: contain;
} */